<?xml version="1.0"?>
<config>
    <modules>
        <M2E_MultichannelConnect>
            <version>1.1.1</version>
        </M2E_MultichannelConnect>
    </modules>
    <default>
        <carriers>
            <m2eshipping>
                <active>1</active>
                <allowed_methods>m2eshipping</allowed_methods>
                <methods>m2eshipping</methods>
                <sallowspecific>0</sallowspecific>
                <model>M2E_MultichannelConnect_Model_Magento_Shipping</model>
                <name>M2E Multichannel Connect Shipping</name>
                <title>M2E Multichannel Connect Shipping</title>
                <handling_type>F</handling_type>
            </m2eshipping>
        </carriers>
        <payment>
            <m2epayment>
                <active>1</active>
                <model>M2E_MultichannelConnect_Model_Magento_Payment</model>
                <order_status>pending</order_status>
                <title>M2E Multichannel Connect Payment</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </m2epayment>
        </payment>
    </default>
    <admin>
        <routers>
            <MultichannelConnect>
                <use>admin</use>
                <args>
                    <module>M2E_MultichannelConnect</module>
                    <frontName>m2e_multichannel</frontName>
                </args>
            </MultichannelConnect>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <M2E_MultichannelConnect>
                    <files>
                        <default>M2E_MultichannelConnect.csv</default>
                    </files>
                </M2E_MultichannelConnect>
            </modules>
        </translate>
        <menu>
            <multichannelconnect module="MultichannelConnect">
                <title>M2E Multichannel Connect</title>
                <sort_order>70</sort_order>
                <action>m2e_multichannel/adminhtml_dashboard/index</action>
            </multichannelconnect>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <m2e_multichannel_settings translate="title" module="MultichannelConnect">
                                            <title>M2E Multichannel Connect Settings</title>
                                        </m2e_multichannel_settings>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <multichannelconnect module="MultichannelConnect">
                            <title>M2E Multichannel Connect</title>
                            <sort_order>81</sort_order>
                        </multichannelconnect>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <MultichannelConnect>
                    <file>MultichannelConnect.xml</file>
                </MultichannelConnect>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <MultichannelConnect>
                <class>M2E_MultichannelConnect_Model</class>
                <resourceModel>MultichannelConnect_resource</resourceModel>
            </MultichannelConnect>
            <MultichannelConnect_resource>
                <class>M2E_MultichannelConnect_Model_Resource</class>
            </MultichannelConnect_resource>
        </models>
        <resources>
            <MultichannelConnect_setup>
                <setup>
                    <module>M2E_MultichannelConnect</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </MultichannelConnect_setup>
            <MultichannelConnect_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </MultichannelConnect_write>
            <MultichannelConnect_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </MultichannelConnect_read>
        </resources>
        <blocks>
            <MultichannelConnect>
                <class>M2E_MultichannelConnect_Block</class>
            </MultichannelConnect>
        </blocks>
        <helpers>
            <MultichannelConnect>
                <class>M2E_MultichannelConnect_Helper</class>
            </MultichannelConnect>
        </helpers>
    </global>
</config>
